
.header-flex{
    @include flex (column,space-between,initial);
    padding: 30px 8px;
    background-color: $colorWhite;
    .header-nav{
    @include flex (row,space-between,initial);
        
    & a img.logo{
        height: 44px;
        width: 88px;
    }
    & ul {
        display: none;
    }
    }
    .header-title{
        @include flex (column,initial,center);
       
        margin-top: 70px;
       

        .subtitle, h1{
            margin-bottom: 20px;
        }

    }
    .header-buttons{
        @include flex (row,space-around,initial);
        margin-bottom: 40px;

        a.buttonBlack, a.buttonWhite{
            width: 129px;
            height: 32px;
            font-size: 14px;
            padding: 7px 0;
            
        }
        
    }
}
