
.header-flex{
    @include flex (column,space-between,initial);
    padding: 30px 8px;
    background-color: $colorWhite;
    .header-nav{
    @include flex (row,space-between,center);
    padding: 0 10px;
    & a img.logo{
        height: 44px;
        width: 88px;
    }
    & ul {
        display: none;
    }
    }
    .header-title{
        @include flex (column,initial,center);
       
        margin-top: 70px;
       

        .subtitle, h1{
            margin-bottom: 20px;
        }

    }
    .header-buttons{
        @include flex (row,space-around,initial);
        margin-bottom: 40px;

        a.buttonBlack, a.buttonWhite{
            width: 129px;
            height: 32px;
            font-size: 14px;
            padding: 7px 0;
        }
        
    }
}

@media screen and (min-width:1024px) {

    .header-flex{
        
        padding: 30px 30px;
        .header-nav{
            
            & ul {
                display: unset;
                margin-left: 350px;
                
            }
            & li{
                display: inline-block;
                margin-left: 30px;
            }
            & a{
                font-size: 14px;
                font-weight: 600;
                font-style: normal;
                color: black;
            }
            a.buttonBlack{
                padding: 7%;
                width: 130%;
                height: 32px;
                color: white;
            }
        }

        h1{
            font-size: 56px;
        }

        .header-buttons{
            justify-content: center;
        
            a.buttonWhite{
                margin-left: 20px;
            }
        }

        .imgHeader{
            width: 65%;
            height: 65%;
            align-self: center;
        }
    }
    
}
