
.modeloPrincipal{
    @include flex (column,space-around,center);
    background:linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #FFFFFF 100%);
    position: relative;
    text-align: center;
    
    padding: 30px 20px;
    color: white;
    height: 150vh;
    width: 100vw;
    video{
        display: block;
        width: 100%;
        height: 45%;
        position: absolute;
        top:0;
        left: 0;
        z-index:-1;
        object-fit: cover;
    }
    .titulo{
        h1.modelo-title{
            width: 288px;
            height: 72px;
             font-style: normal;
            font-weight: normal;
            font-size: 24px;
            color: #000000;
        }
    }
    .contenido{
        @include flex (column,space-around,center);
        .img-modelo{
            width: 288px;
            height: 263.31px;
        }
        
        .description{
            @include flex (column,initial,center);
            h3{
                font-weight: normal;
                font-size: 24px;
               
            }
            .valoracion{
                @include flex (row,initial,center);
                margin-bottom: 10px;
                p{
                    margin-right: 10px;
                    font-size: 12px;
                }
            & ul li{
                margin-right: 5px;
                display: inline-block;
            & img{
                width:16px;
                height: 15.51px;
                    }
                }
            }
            .price{
                color: white;
                margin-bottom: 15px;
            }
            .buttonBlack{
                font-size: 14px;
                width: 80%;
                height: 30px;
                padding-top: 7px;
                margin-bottom: 30px;
                
            }
        }
    }
    
    


}


@media screen and (min-width:1024px) {
    .modeloPrincipal{
        @include flex (column,initial,center);
        height: 100vh;
        video{
            width: 100%;
            height: 100%;
            
        }
        .contenido{
            @include flex (row,space-between,unset);
            
            img.img-modelo{
                order: 2;
                height: 100%;
                width: 100%;
            }

            .description{
                padding: 30px 50px;
                text-align: left;
                h3{
                    font-weight: normal;
                    font-size: 24px;
                    align-self: flex-start;
                }
    
                h1.price{
                    margin: 10px 0;
                    align-self: flex-start;
                }

                .valoracion{
                    margin-top: 10px;
                    align-self: flex-start;
                }
                

                .category{
                    align-self: start;
                }

                .buttonBlack{
                    width: 60%;
                    align-self: flex-start;
                    
                }
            
            }
        }
        
        
    }
    
}