div h1.titleModelo{
    display: none
}

.modeloPrincipal{
    @include flex (row,initial,initial);
    flex-wrap: wrap-reverse;
    background:linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #FFFFFF 100%);
    position: relative;
    text-align: center;
    color: white;
    
    video{
        display: block;
        width: 150%;
    }
    div.video{
        position: absolute;
        top:0px;
        z-index:-1;
        overflow: hidden;
    }

    h2{
        margin-bottom: 20px;
    }

    .modeloBottom{
        @include flex (column,initial,center);
        padding: 0 30px;
    .valoracion{
        @include flex (row,initial,center);
        margin-bottom: 10px;
        p{
            margin-right: 10px;
            font-size: 12px;
        }
    & ul li{
        margin-right: 5px;
        display: inline-block;
    & img{
        width:16px;
        height: 15.51px;
            }
        }
    }

    .price{
        color: white;
        margin-bottom: 15px;
    }
    .buttonBlack{
        font-size: 14px;
        width: 80%;
        height: 30px;
        padding-top: 7px;
        margin-bottom: 30px;
        }
    }

    .imgModelo{
        padding: 0 30px;
        img{
            width: 90%;
            height: 90%;
        }
        h1{
            font-size: 24px;
            color: black;
        }
    }
}



@media screen and (min-width:1024px) {
    div h1.titleModelo{
        display: block;
        font-size: 32px;
        text-align: center
    
    }
    .modeloPrincipal{
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-top: 60px;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.820101) 14.06%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 55.32%, rgba(255, 255, 255, 0.6454) 88.52%, #FFFFFF 97.7%);
        max-height: 100vh;
        video{
            width: 100%;
        }
       .modeloBottom{
            @include flex (column,initial,flex-start);
            margin-top: 10px;
            max-width: 364px;
            
            h2{
                margin: 20px 0;
                text-align: left;
                font-size: 24px;
            }

        h1.price{
            margin: 10px 0;
        }

        p {
            margin: 10px 0;
            text-align: left;
        }

        nav.category ul{
            margin: 15px 0;

        }

        .buttonBlack{
            width: 228px;
        }

            
        }
        .imgModelo{
            margin-bottom: 60px;
            padding: 0 30px;
            img{
                width: 600px;
                height: 480px;
            }
            h1{
                display: none;
            }
        }
    }

    

}
@media screen and (min-width:1040px) {
    .modeloPrincipal{
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-top: 60px;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.820101) 14.06%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 55.32%, rgba(255, 255, 255, 0.6454) 88.52%, #FFFFFF 97.7%);
        height: 110vh;
        video{
            width: 100%;
        }

    .modeloBottom{
        margin: 100px 100px;

    }

    .imgModelo{
        margin:100px 100px;
    }
    }
}