.partners{
  @include flexColumn(column,space-around, center);
  background: linear-gradient(177.96deg, #6F6F6F 1.72%, rgba(255, 255, 255, 0.43) 76.63%);
  .partners-row{
    height: 130px;
    flex-wrap: nowrap;
    overflow:hidden;
  }
  .partner-container{
    @include flexColumn(row,space-between,center);
    background-color: $colorPrimary;
    height: 103px;
    width: 288px;
    padding: 5px;
    margin: 16px 65px;
    position: relative;
    p{
      color: $colorWhite;
      font-size: 32px;
    }
    .img-container{
      border-radius: 50%;
      border: 1px solid $colorWhite;
      background-color: rgba(255, 255, 255, 0.5);
      width: 89px;
      height: 89px;
      position: relative;
      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        
      }
      
    }
    
  }
  .partner-container:hover{
    background-color: $colorBlackHover;
  }
  .partner-container.left{
    border-radius: 89px 14px 14px 89px;
    .img-container{
      position: absolute;
      left: 6px;
    }
    p{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-25%,-50%);
    }
  }
  .partner-container.right{
    border-radius: 14px 89px 89px 14px;
    .img-container{
      position: absolute;
      right: 6px;
    }
    p{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-75%,-50%);
    }
  }
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1024px){
  .partners{
    .partner-container{
      margin: 65px
    }
    .partners-row{
      @include flexColumn(row,space-between,center);
      flex-wrap: nowrap;
      overflow: hidden;
    }
  }
  
}