.productos-flex{
    @include flex (row,center,center);
    padding: 0 40px ;
    text-align: center;
    flex-wrap: wrap;
    background-color: white;
    position: relative;
    color: black;

.producto{
    @include flex (column,space-around,flex-start);
   
    background: #FFFFFF;
    box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 30px;


    .category{
        
        margin-left: 5px;
        & ul li a{
        color: black;
        }
    }
  
  
}

    .shopButtons{
        @include flex (row,space-between,flex-end);
        margin-top: 10px;

        .buttonBlack{
            margin-left: 10px;
            width: 36px;
            height: 36px;
            padding-top: 7px;
            
        }
        .buttonWhite{
            font-size: 16px;
            width: 80%;
            margin-right: 10px;
            height: 36px;
            padding: 0 5px;
            padding-top: 7px;
            
            
        }

    }

    div.verMas {
        & a{
            width: 150%;
          }
    
      }

}

@media screen and (min-width:1024px) {

    .productos-flex{
        position: relative;
        @include flex (row,center,center);
        margin: 80px 0;


    
       div.verMas{
           position: absolute;
           top: 100%;
           & a{
            padding-top: 5px;
            width: 150%;
            height: 32px;

           }  
            
        }

    .producto{
        margin-left: 60px;
    }
    }





}